@page "/CreateCheep"
@using Chirp.Core
@using System.Security.Claims
@model Chirp.Web.Pages.CreateCheepModel


@{
    
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    
     if (HttpMethods.IsPost(Request.Method)) {
        string Cheep = Request.Form["Cheep"];
    
      Model.createCheep(@User.Identity?.Name,"no cb is best cb");
      
         


        <text>
          You entered: <br />
          Cheep: @Cheep <br />
          Name: @User.Identity?.Name <br />
        </text>
    } 

}



<!DOCTYPE html>
<html>
    <head>
        <title>Customer Form</title>
    </head>
    <body>
      <form method="post">
        @Html.AntiForgeryToken();
        <fieldset>
          <legend>Make a Cheep</legend>
          <div>
            <label for="Cheep">Cheep</label>
            <input type="text" name="Cheep" value="" />
            <input type="submit" value="Submit" class="submit" />
          </div>
          <div>
            <label>&nbsp;</label>
          </div>
        </fieldset>
      </form>
    </body>
</html>
